<!-- <%- include("partials/header") %>
    <%- include("partials/nav") %>


        <a href="/createbook" class="btn btn-primary m-4">create new book</a>

        <div style="display: flex;">
            <div class="card" style="  width: 15rem; margin-left: 200px;">
                <img src="https://images.unsplash.com/photo-1543002588-bfa74002ed7e?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6>author name</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">explore more</a>
                </div>
              


            </div>
          
        </div>







        <%- include("partials/footer") %> -->
        <div class="rounded p-5 mt-5  container ">
            <a href="/create-book" class="mb-5 btn btn-primary">Create New Book</a>
            <h1 class="mb-5 fs-1 fw-bolder">Registered Books</h1>
            <div class="cards d-flex flex-wrap">
      
      
              <% books.forEach(book=> { %>
                <!--  -->
                <div class="card me-3 mb-3" style="width: 18rem;">
                  <img src="/images/<%= book.poster%>" style="height: 25vh;object-fit: cover;object-position: center;"
                    class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= book.name %>
                    </h5>
                    <h6>
                      <%= book.author%>
                    </h6>
                    <p class="mt-3 card-text">
                      <%= book.description.slice(0,80)%>...
                    </p>
                    <a href="/details/<%= book._id%>" class="btn btn-primary">Explore Book</a>
                  </div>
                </div>
                <!--  -->
                <% }) %>